.author {
  text-align: center;
  padding-top: 36px;
  color: #ffffff;
}

.author-avatar {
  width: 160px;
  height: 160px;
  border-radius: 100px;
  border: solid #d2d2d2 3px;
}

.author-name {
  font-size: 24px;
  padding: 0;
}

.author-description {
  font-size: 16px;
  padding: 0;
}
